/* Шрифт "Lato" */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Контент */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #424551;
}
.online-course__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  color: #1E212C;
}
.online-course__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #1E212C;
}
.online-course__citation {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #1E212C;
}